<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <h1 style="text-align: center">Some error occurred!</h1>
  <h4 style="text-align: center"><%= error %> </h4>
  <h3 style="text-align: center;margin-top: 1rem;">We're working on fixing this, sorry for the inconvenience.</h3>

</body>
</html>
